<!DOCTYPE html>
<html>
<head>
    <header class="header">
  <img src="{{ url_for('static', filename='images/logo.jpeg') }}" class="logo">
  BESTTIVE
</header>
    <title>BESTTIVE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>BESTTIVE 🛍️</header>

<div class="products">
    {% for product in products %}
    <div class="card">
        <img src="{{ url_for('static', filename=product.image) }}">
        <h3>{{ product.name }}</h3>
        <p>₹{{ product.price }}</p>
      <a href="/payment/{{ product.name }}/{{ product.price }}">
    <button>Buy Now</button>
</a>
    </div>
    {% endfor %}
</div>
<a href="https://instagram.com/besttive.business" class="insta-float" target="_blank">
  <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" class="insta-icon">
  Follow
</a>

<a href="https://wa.me/918601362353" class="whatsapp-float" target="_blank">
  <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" class="whatsapp-icon">
</a>
</body>
</html>