<!DOCTYPE html>
<html>
<head>
    <title>Manage Products</title>
</head>
<body>

<h2>Manage Products</h2>

<table border="1" cellpadding="10">

<tr>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Action</th>
</tr>

{% for product in products %}

<tr>

<td>
<img src="{{ product.image }}" width="120" height="120" style="object-fit:cover; border-radius:8px;">
</td>

<td>{{ product.name }}</td>

<td>₹{{ product.price }}</td>

<td>{{ product.stock }}</td>

<td>

    <a href="{{ url_for('edit_product', id=product.id) }}"
       style="
       display:inline-block;
       padding:8px 14px;
       background:#4b0082;
       color:white;
       border-radius:7px;
       text-decoration:none;
       font-size:14px;
       font-weight:600;
       margin:2px;
       ">
        Edit
    </a>

    <a href="/admin/delete-product/{{ product.id }}"
       onclick="return confirm('Delete this product?')"
       style="text-decoration:none;">

        <button type="button"
                style="
                padding:8px 14px;
                background:#4b0082;
                color:white;
                border:none;
                border-radius:7px;
                font-size:14px;
                font-weight:600;
                cursor:pointer;
                margin:2px;
                ">
            Delete
        </button>

    </a>

</td>

</tr>

{% endfor %}

</table>

<br>

<a href="/admin/dashboard">⬅ Back</a>

</body>
</html>