<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>UPI Payment 💳</header>

<div style="text-align:center; padding:20px;">

    <h3>Scan & Pay</h3>

    <img src="{{ url_for('static', filename='images/qr.jpeg') }}"> width="150
    
    ">

    <p>UPI ID: 8601362353@slc

    </p>

    <h4>After Payment, Fill Details</h4>

    <form method="POST">
        <input type="text" name="name" placeholder="Your Name" required><br><br>
        <input type="number" name="amount" placeholder="Amount Paid" required><br><br>
        <button type="submit">Confirm Payment</button>
    </form>

</div>

</body>
</html>